<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I'm a programmer with 8 years of experience writing code in a 
            variety of languages and tech-stacks. While I'm a proficient 
            full-stack developer, my expertise lies in my ability to quickly 
            adapt to systems and begin enhancements, especially when 
            working with backend services.
        </p>
        <p>
          As someone who takes pride in designing software, I recognize the 
          importance of positively impacting customers. While challenging 
          engineering problems are fun to solve, I get the most satisfaction 
          from resolving customer issues and streamlining their workflow.
        </p>
        <p>
          Currently, I'm looking for an intermediate developer role where I can
          work collaboratively on an agile team, while gaining further 
          experience building and maintaining large-scale systems.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Designed and developed a CLI tool for stock ticker analysis.
            It scrapes data from financial websites and then performs 
            algorithmic analysis to determine the intrinsic value of a company.
    			</li>
          <li>
            Worked for Tata Consultancy Services for 2 years doing full-stack development in on an agile team.
          <li>
            Led the development of a new application for asset management at Sony Pictures, streamlining their internal art approval processes.
    			<li>
            Graduated from UC Riverside with a B.S. in Computer Engineering.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
