<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Game Design</b>. As an avid player of videogames, I find myself enthralled the more I learn about their construction.
				 I especially love conferences and talks given by developers that describe their process for creating rich stories and vivid atmosphere.
			  </li>
			  <li>
				  <b>Stock Trading</b>. I've been enthusiastic about financial markets for many years.
				  I enjoy developing strategies for identifying value while building a deeper understanding of how currencies and markets behave.
			  </li>
			  <li>
				  <b>Hip Hop</b>. My favorite music genre is hip hop and I'm always trying to discover new, eclectic artists.
				  The deep passion that so many artists have for this craft inspires me and creates the soundtrack of my life.
		      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
				Using the open-source game engine Godot, I've recently begun designing, programming, and building my own 2D immersive sim.
				I'm very excited about its development, as it's based on writings which I've been revising for the last 2 years.
    		</li>
  			<li>
          		Recently, I've been experimenting with machine learning techniques for voice generation and designing tools to help automate the overall process.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
        		Volunteering for Kenneth Mejia's campaign for city controller.
  			</li>
  			<li>
				Advocate of HTMX, and hyperscript in general, for simplifying web-development practices.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
